%h1=  "Questions for Test: #{@test.title}"
= render 'admin/questions/questions', questions: @test.questions
%br
= button_to 'new question', new_admin_test_question_path(@test), method: :get
%br
= link_to 'Edit', edit_admin_test_path(@test)
= link_to 'Back', admin_tests_path
