.row.mt-3.mb-2{style: 'font-weight: bold; border-bottom: 2px solid #ddd;'}
  .col-md-1= t('.id')
  .col-md-3= t('.name')
  .col-md-2= t('.level')
  .col-md-4.text-center= t('.questions')
  .col-md-2= t('.actions')
= render partial: 'test', collection: tests
