.footer.wrapper
  = "#{current_year}, Author name: Andrey Postupalenko,"
  = link_to 'Project: TestGuru,', "#{github_url('anrewp', 'TestGuru')}", target: '_blank'
  = link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank'
